<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EH_FQDN" value="{YOUR.EVENTHUBS.FQDN}"/>
    <add key="EH_CONNECTION_STRING" value="{YOUR.CONNECTION.STRING}"/>
    <add key="EH_NAME" value="test"/>
    <add key="CONSUMER_GROUP" value="$Default"/>
    <add key ="CA_CERT_LOCATION" value=".\cacert.pem"/>
  </appSettings>
</configuration>

