# Event Hubs Kafka endpoint
bootstrap.servers=mynamespace.servicebus.windows.net:9093
client.id=mirror_maker_producer

# Event Hubs requires secure communication
security.protocol=SASL_SSL
sasl.mechanism=OAUTHBEARER
sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required;
sasl.login.callback.handler.class=CustomAuthenticateCallbackHandler

# to avoid Azure load balancer (4 minutes timeout) closing idle connections
connections.max.idle.ms=180000
metadata.max.age.ms=180000
